In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
driver=webdriver.Chrome("C:/Users/smanivasagan/chromedriver.exe")
driver.get("https://www.naukri.com/")

In [4]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data scientist")

In [6]:
search_btn=driver.find_element_by_xpath("//span[@class='ellipsis fleft']").click()

In [11]:
search_btn=driver.find_element_by_xpath("//i[@class='fleft naukicon naukicon-checkbox']").click()

In [12]:
job_titles=[]
company=[]
location1=[]
exp=[]

In [13]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="cf5fd45d-9062-40c6-8d70-9626730bb511")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="ba6bc78c-dd73-4f95-ad7c-deb82b1d8cc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="e21fe06f-6544-4612-9798-41ab10fe0f53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="24a2bf71-271c-4fac-9724-5b55d47f06d7")>]

In [14]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:9]

['Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Computer Vision',
 'Data Scientist - Machine Learning/ NLP',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC',
 'Data Scientist',
 'Data Scientist - Tableau/Power BI',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'Data Scientist - IT']

In [15]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="04482551-f3b4-49c4-9abc-691ca842379f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="c5d15c51-39a3-4369-b582-b5301e88264a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="dd101109-be71-4f91-af95-b8d724cee281")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="15da5756-8d9d-40b4-bffd-d7fcd966ae82")>]

In [16]:
for i in companies_tags:
    company_name=i.text
    company.append(company_name)
company[0:9]

['Country Veggie',
 'IBM India Pvt. Limited',
 'IRIS SOFTWARE Inc',
 'TalPro',
 'GABA Consultancy services',
 'Ciena',
 'Talent Stock Solutions',
 'Aerial Telecom Solutions Pvt. Ltd.',
 'Ehireo']

In [17]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="f371a3b4-1d7b-4270-8154-c4f708ade997")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="985ba0a2-0bfb-4609-a7d4-6cb7bac19f89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="867b1a0e-f80b-45fc-bb22-4c09b5fbbd6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="6573bb39-39a0-4b48-8ae8-6f8670e9a36f")>]

In [18]:
for i in location_tags:
    location_name=i.text
    location1.append(location_name)
location1[0:9]

['Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Bengaluru, Gurgaon, Agra, Bharuch, Jaunpur, Nagpur, Delhi, Mumbai, Jaipur, Jhansi',
 'Gurgaon Gurugram',
 'Delhi NCR',
 'Gurgaon Gurugram',
 'Delhi NCR, Noida, Gurgaon',
 'Gurgaon Gurugram',
 'Delhi',
 'Pune, Bengaluru, Gurgaon',
 'Gurgaon']

In [19]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="8cfa782d-e5a2-4918-929b-8f1276e44f6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="5a53cff7-08cb-4b25-9204-4e207ce151de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="b62780bd-3a49-481a-a989-4381d128d967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="42295797eb3656b6ed1d6596c8312501", element="dd633a5f-d64c-439f-a97f-c6f88ba44220")>]

In [20]:
for i in experience_tags:
    experience_name=i.text
    exp.append(experience_name)
exp[0:9]

['1-3 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '2-6 Yrs',
 '0-0 Yrs',
 '5-6 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '4-9 Yrs']

In [22]:
jobs1=pd.DataFrame({})
jobs1['title']=company[0:10]
jobs1['company']=job_titles[0:10]
jobs1['exp']=exp[0:10]
jobs1['location']=location1[0:10]

In [23]:
jobs1

,title,company,exp,location
0,Country Veggie,Data Scientist,1-3 Yrs,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be..."
1,IBM India Pvt. Limited,Data Scientist,4-8 Yrs,Gurgaon Gurugram
2,IRIS SOFTWARE Inc,Senior Data Scientist - Computer Vision,4-9 Yrs,Delhi NCR
3,TalPro,Data Scientist - Machine Learning/ NLP,2-6 Yrs,Gurgaon Gurugram
4,GABA Consultancy services,Only Fresher / Data Scientist / Data Analyst /...,0-0 Yrs,"Delhi NCR, Noida, Gurgaon"
5,Ciena,Data Scientist,5-6 Yrs,Gurgaon Gurugram
6,Talent Stock Solutions,Data Scientist - Tableau/Power BI,1-3 Yrs,Delhi
7,Aerial Telecom Solutions Pvt. Ltd.,GCP Skilled Analytics Resources (Data engineer...,3-8 Yrs,"Pune, Bengaluru, Gurgaon"
8,Ehireo,Data Scientist - IT,4-9 Yrs,Gurgaon
9,Delhivery,Data Scientist Machine Learning,1-3 Yrs,Gurgaon