In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
driver=webdriver.Chrome("C:/Users/smanivasagan/chromedriver.exe")
driver.get("https://www.glassdoor.co.in/index.htm")

In [8]:
search_job=driver.find_element_by_id("scKeyword")
search_job.send_keys("Data scientist")

In [10]:
search_job=driver.find_element_by_id("scLocation")
search_job.send_keys("Noida")

In [11]:
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [12]:
driver.get(url)

In [13]:
company=[]
posted=[]
rating=[]

In [15]:
companies_tags=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="36553dff-76a2-49b4-a959-20cd75a70dc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="60f8f77b-af2c-4325-bb06-876a1f96d2a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="c4a260ec-bc5f-4fee-be7c-04c98f8b382a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="63d49098-062a-4932-93f2-fabdac887d94")>]

In [17]:
for i in companies_tags:
    company_name=i.text
    company.append(company_name)
company[0:9]

['BlackRock',
 'BlackRock',
 'Srijan Technologies Pvt Ltd',
 'Brickred',
 'Adobe',
 'Lumiq',
 'Terra Economics & Analytics Lab (TEAL)',
 'Fitfyles',
 'Axslogic']

In [20]:
posted_tags=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
posted_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="9900420b-0d63-4e8d-9847-97eba0b36eea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="fc91728c-c84f-4d15-bb59-4f4c6ed4a4cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="fc659376-9616-4d70-8a97-f374e36cd694")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="6d5ef74c-b027-4e8c-8672-d88b762b143b")>]

In [22]:
for i in posted_tags:
    posted_name=i.text
    posted.append(posted_name)
posted[0:9]

['4.1', '4.1', '3.9', '', '4.4', '3.6', '4.9', '4.3', '4.4']

In [24]:
review_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
review_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="c317ac16-2f65-47b6-b3d4-b74e27eaa88c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="28e4f49e-e877-42f0-886f-0c589e3bf3d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="355ed92a-9988-4eaa-995f-33edf5aee417")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7881014209e0a64bdeec87f1790f4c0a", element="05f51935-876b-47d4-b4bf-70a3e3293141")>]

In [25]:
for i in review_tags:
    review_name=i.text
    rating.append(review_name)
rating[0:9]

['2d', '18d', '7d', '21d', '4d', '20d', '3d', '1d', '24h']

In [28]:
jobs=pd.DataFrame({})
jobs['title']=company[0:10]
jobs['posted']=rating[0:10]
jobs['rating']=posted[0:10]

In [29]:
jobs

                                    title posted rating
0                               BlackRock     2d    4.1
1                               BlackRock    18d    4.1
2             Srijan Technologies Pvt Ltd     7d    3.9
3                                Brickred    21d
4                                   Adobe     4d    4.4
5                                   Lumiq    20d    3.6
6  Terra Economics & Analytics Lab (TEAL)     3d    4.9
7                                Fitfyles     1d    4.3
8                                Axslogic    24h    4.4
9                               Microsoft    21d    3.7