In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome("C:/Users/smanivasagan/chromedriver.exe")
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [3]:
search_job=driver.find_element_by_id("KeywordSearch")
search_job.send_keys("Data scientist")

In [4]:
search_job=driver.find_element_by_id("LocationSearch")
search_job.send_keys("Noida")

In [16]:
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [17]:
driver.get(url)

In [7]:
range=[]
savg=[]
company=[]
rate=[]

In [5]:
companies_tags=driver.find_elements_by_xpath("//p[@class='m-0 ']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="220b1ae5-0daa-4dfe-8f4c-8d480392c30d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="6f44fe5c-4006-4f1a-98d1-902d38486740")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="1cdcad89-2108-4686-bcac-8b49038d3976")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="97e02007-9fdb-4b7b-9862-98e51b6ee5a1")>]

In [8]:
for i in companies_tags:
    company_name=i.text
    company.append(company_name)
company[0:9]

['Delhivery',
 'Ericsson-Worldwide',
 'Tata Consultancy Services',
 'Accenture',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions']

In [9]:
average_tags=driver.find_elements_by_xpath("//p[@class='d-block d-md-none m-0']")
average_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="c83ee556-7906-40eb-a44e-fa0fc8e547c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="a624a764-6455-4363-8115-4f39a6ebbb6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="143e81d8-c292-4f10-b817-d66c6f803733")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="3a47ec02-c845-4c72-9855-415823565d3c")>]

In [11]:
for i in average_tags:
    avg_name=i.text
    savg.append(avg_name)
savg[0:9]

['₹ 12,64,182/yr',
 '₹ 7,41,935/yr',
 '₹ 5,99,668/yr',
 '₹ 9,94,055/yr',
 '₹ 7,39,040/yr',
 '₹ 13,37,114/yr',
 '₹ 7,80,374/yr',
 '₹ 11,98,792/yr',
 '₹ 10,08,143/yr']

In [13]:
range_tags=driver.find_elements_by_xpath("//p[@class='d-block d-md-none m-0 css-1kuy7z7']")
range_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="ae2329c4-5b8f-4f2b-ab3a-bb21eacee548")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="7bb27e72-b123-4f24-a355-33d21e63503c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="0ae95bfe-6c18-457f-ac00-4512ddde0170")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2ac11ad73a2f0628e202e1dcbc91dd57", element="3734d51a-99ce-4abd-9be0-381c77cc7b12")>]

In [14]:
for i in range_tags:
    range_name=i.text
    range.append(range_name)
range[0:9]

['Range: ₹450K - ₹11,630K',
 'Range: ₹420K - ₹1,614K',
 'Range: ₹336K - ₹1,010K',
 'Range: ₹577K - ₹2,215K',
 'Range: ₹587K - ₹2,732K',
 'Range: ₹717K - ₹1,575K',
 'Range: ₹502K - ₹1,152K',
 'Range: ₹621K - ₹1,696K',
 'Range: ₹793K - ₹1,264K']

In [15]:
jobs=pd.DataFrame({})
jobs['title']=company[0:9]
jobs['average']=savg[0:9]
jobs['range']=range[0:9]

In [16]:
jobs

                            title         average                    range
0                       Delhivery  ₹ 12,64,182/yr  Range: ₹450K - ₹11,630K
1              Ericsson-Worldwide   ₹ 7,41,935/yr   Range: ₹420K - ₹1,614K
2       Tata Consultancy Services   ₹ 5,99,668/yr   Range: ₹336K - ₹1,010K
3                       Accenture   ₹ 9,94,055/yr   Range: ₹577K - ₹2,215K
4                             IBM   ₹ 7,39,040/yr   Range: ₹587K - ₹2,732K
5              UnitedHealth Group  ₹ 13,37,114/yr   Range: ₹717K - ₹1,575K
6              Valiance Solutions   ₹ 7,80,374/yr   Range: ₹502K - ₹1,152K
7                      Innovaccer  ₹ 11,98,792/yr   Range: ₹621K - ₹1,696K
8  Cognizant Technology Solutions  ₹ 10,08,143/yr   Range: ₹793K - ₹1,264K