In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [22]:
import selenium
import pandas as pd
from selenium import webdriver

In [28]:
driver=webdriver.Chrome("C:/Users/smanivasagan/chromedriver.exe")

In [29]:
driver.get("https://www.naukri.com/")

In [30]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")

In [31]:
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [26]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [8]:
url="https://www.naukri.com/data-analyst-jobs-in-bagalore?k=data%20analyst&l=bagalore"

In [9]:
driver.get(url)

In [10]:
job_titles=[]
company=[]
location=[]
exp1=[]

In [11]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="5b525cc3-858b-4106-a9a3-760391c7a410")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="bbda898c-09c5-4de8-b432-91ba0c97d75b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="5f3624b8-f70f-4b92-a1eb-1a95a52a848d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="ee7567bb-e55b-4f3d-abc1-d3c4ea9b8dad")>]

In [12]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst']

In [13]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="defd4037-2022-4f60-bef8-2c88f80e5fc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="4265bdbc-6028-4a5b-b20a-36343e0adafa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="f3456db7-7bb7-4d7b-8680-44bc1c0456c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="a6576bc5-c98f-47d9-b225-15b7111d1e2d")>]

In [14]:
for i in companies_tags:
    company_name=i.text
    company.append(company_name)
company[0:4]

['Flipkart Internet Private Limited',
 'Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric']

In [15]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="6a40a7b6-14f7-4473-8e0f-f2ab0d426d2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="eab8f569-5c69-4c9f-b41a-c7e61fc846d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="623b28e4-ce05-4e1e-bfb2-3d086d2bf6c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="ae0652df-4a1e-4925-9b9c-4278f2b97b7a")>]

In [16]:
for i in location_tags:
    location_name=i.text
    location.append(location_name)
location[0:4]

['Bengaluru',
 'Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore']

In [17]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="963c938f-260b-4e9a-9045-8c0d8db3187f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="b3d8a00d-6a12-4767-91c6-a237d19aae94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="deb7da0f-9847-4796-bf1f-760a3426dd7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ea50237368c310381bff5e757f7616d", element="bdbd4c2b-38cc-404c-b22f-b2dcf6baece9")>]

In [18]:
for i in experience_tags:
    experience_name=i.text
    exp1.append(experience_name)
exp1[0:4]

['1-4 Yrs', '3-5 Yrs', '2-5 Yrs', '2-5 Yrs']

In [19]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company[0:10]
jobs['exp']=exp1[0:10]
jobs['location']=location[0:10]

In [20]:
jobs

,title,company,exp,location
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Flipkart Internet Private Limited,1-4 Yrs,Bengaluru
1,Data Analyst - SAP,Boston Scientific Corporation,3-5 Yrs,"Pune, Delhi, Bengaluru, Gurgaon"
2,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
3,Senior Data Analyst,Schneider Electric,2-5 Yrs,Bengaluru / Bangalore
4,Security Data Analyst,Philips India Limited,2-4 Yrs,Bengaluru
5,"Data Analyst -Azure Data lake, Azure Data factory",Mindtree Limited,5-9 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
6,Business / Data Analyst,IBM India Pvt. Limited,2-4 Yrs,Bengaluru
7,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,2-4 Yrs,Bengaluru
8,Intern Data Analyst,Outsource Big Data,0-1 Yrs,Bengaluru
9,NiFi Data Analyst,Capgemini Technology Services India Limited,4-6 Yrs,Bengaluru